.admissions {
	padding: 1rem 0 0 3rem;
	display: flex;
}
.admissions__table {
	background-color: var(--white);
	width: 80rem;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.admissions__table-header {
	text-transform: uppercase;
	width: 100%;
	height: 4rem;
	background-color: var(--primary);
	font-size: 2.5rem;
	font-weight: 1000;
}
.admissions__container {
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
}
.admissions__forms {
	padding-left: 3rem;
	overflow-y: scroll;
}
.admissions__discharge {
	margin: 2rem;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 1rem 3rem;
	gap: 1rem;
	width: fit-content;
}
.admissons__discharge-sub-content {
	display: flex;
	width: fit-content;
	gap: 5rem;
}
.admissions__edit-button {
	border-radius: 2rem;
	gap: 0.5rem;
}
.admissions--empty {
	background-color: var(--selected);
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	text-transform: uppercase;
	font-weight: 1000;
	font-size: 2rem;
}
.datepicker {
	font-size: 2rem;
}
